.uvnumbercode {
    color : #72bbaa;
}

.brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

#search-uv-form {
	margin: 20px;
}

#search-uv-name {
	border-color: rgba(195, 158, 234, 0.8);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(156, 82, 236, 0.6);
}

.btn-primary {
	background-image: linear-gradient(to bottom, #CCC9E9, #8B81A8);
	background-color: #A491C5;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
	background-color: #492F8F;
	background-image: linear-gradient(to bottom, #817299, #3D1C83);
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: rgba(177, 165, 239, 0.8);
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(214, 203, 239, 0.6);
}

.navbar .nav > li > a {
    text-shadow: 0px 1px 0px #A95FDD;
}

.dropdown:focus {
	background-color: #492F8F;
}

li.dropdown :hover {
    color: #FFF;
}

.navbar .divider-vertical {
	border-left: 1px solid #463453;
	border-right: 1px solid #A95FDD;
	height: 75px;
}

li.dropdown {
	margin-top: 15px;
}

.main-container{
	padding-top: 60px;
}

a {
    color: #AC8AD1;
}

a:hover {
    color: #6C18C6;
}

a:focus{
    color: #6C18C6;
}

.ui-autocomplete{
	position: fixed;
	background-color: #FFF;
	z-index: 1050;
	padding: 5px 0px;
	margin: 2px 0px 0px;
	font-size: 14px;
	text-align: left;
	list-style: outside none none;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}

li.ui-menu-item{
	line-height: 25px;
	padding-left: 9px;
}

li.ui-menu-item:hover{
	background-color: #492F8F;
	background-image: linear-gradient(to bottom, #817299, #3D1C83);
	color: #FFF;
}

li.ui-menu-item:focus{
	background-color: #492F8F;
	background-image: linear-gradient(to bottom, #817299, #3D1C83);
	color: #FFF;
}

.ui-helper-hidden-accessible{
	display: none;
}

.choiceConteneur {
	display: flex;
	flex-direction: row;
	color: white;
	justify-content: space-between;
}

.choiceItem{
	padding: 20px;
	background-color: #9D80C2;
	border-radius: 5px;
	margin: 10px;
	margin-left:40px;
	margin-right:40px;
	flex: 1;
	text-align:center;
	line-heigth:140px;
}

.choiceItem.disabled{
	background-color: #D7D7D7;
}

.formConteneur{
	text-align: center;
	padding-top: 40px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #C6B5E1;
    border-radius: 2px;
}

li.nav-header:hover{
	color: #999999;
}

a.dropdown-toggle{
	color: red;
}