.uvnumbercode {
    color : #72bbaa;
}

.brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

#search-uv-name {
	margin-left: 20px;
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(156, 82, 236, 0.6);
}

#search-uv-button {
	background-image: linear-gradient(to bottom, #AC98D2, #6F629C);
}