.uvnumbercode {
    color : #72bbaa;
}

.brand {
	padding-top: 5px;
	padding-bottom: 5px;
}

#search-uv-form {
	margin: 20px;
}

#search-uv-name {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(156, 82, 236, 0.6);
}

#search-uv-button {
	background-image: linear-gradient(to bottom, #AC98D2, #6F629C);
}

.navbar .nav > li > a {
    text-shadow: 0px 1px 0px #A95FDD;
}

li.dropdown :hover {
    color: #FFF;
}

.navbar .divider-vertical {
	border-left: 1px solid #463453;
	border-right: 1px solid #A95FDD;
	height: 87px;
}

li.dropdown {
	margin-top: 15px;
}

.main-container{
	padding-top: 60px;
}